* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inizio common */

.cont-w {
    width: 80%;
    margin: auto;
    position: relative;
}


/* fine common */

/* inizio header */
header {
    background-color: #3161e0;
    width: 100%;
    height: 80px;
}

.logo-discord {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

header nav {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}



/* fine header */









/* debug */

.debug header .cont-w {
    border: 1px solid black;
    height: 80px;
}

.debug .logo-discord {
    border: 1px solid black;

}

.debug header nav {
    height: 50%;
    border: 1px solid black;
    background-color: aqua;
}